.flex-1 {
  flex: 1;
}

.app-container {
  height: 100px;
}

.img-container {
  height: 100px;
  width: 100px;
}

.d-time {
  background: lightskyblue;
  color: blue;
  width: fit-content;
  padding-inline: 3px;
  border-radius: 4px;
}

.send-offer {
  height: 30px;
  width: fit-content;
  background: black;
  color: white;
  border: none;
  outline: none;
  position: relative;
  border-radius: 4px;
  padding-inline: 10px;
}

.svg-color svg {
  fill: red;
}

@media (min-width:300px) and (max-width:500px) {
  .card {
    /* width: 90%; */
    font-size: 80%;
  }

  /* .svg-color {
    width: 44%;
    height: auto;
  } */

  .userLogo {
    /* width: 100px; */
    height: 75%;
  }

  .sendBtn {
    width: 83px;
    position: relative;
    height: 44px;
    font-size: 80% !important;
  }
}