

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th {
  background: rgb(240, 239, 239);
  color: #07A189;
}

tr:nth-child(even) {
  background-color: #fafbfd;
}

.searchProInput::placeholder {
  opacity: 0.5;
  text-align: center;
  font-size: 1rem;
}

.searchProjects {
  position: relative;
  top: -11rem;
}

.searchProInput {
  width: 30rem;
  height: 3rem;
  background: #FFFFFF;
  border: 1px solid #07A189;
  box-shadow: 3px 18px 37px 10px rgb(165 165 165 / 20%);
  border-radius: 10px;
  outline: #07A189;
  padding-left: 12px;

}
@media (min-width:300px) and (max-width:768px) {
  .searchProInput {
    width: 20rem;
    height: 3rem;
    background: #FFFFFF;
    border: 1px solid #07A189;
    box-shadow: 3px 18px 37px 10px rgb(165 165 165 / 20%);
    border-radius: 10px;
    outline: #07A189;
    padding-left: 12px;
  
  }
  .searchProjects {
    position: relative;
    top: -9rem;
    left: 1.6rem;
  }
  .searchIconMain {
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -14%;
    padding: 10%;
    height: 75%;
    top: 10%;
    background: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
}

.searchIcon {
  position: relative;
  /* top: 10%; */
}

.searchIconMain {
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -14%;
  padding: 10px;
  height: 75%;
  top: 10%;
  background: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.dropdown{
  background: transparent;
  border: 1px solid gray;
}

/* .daysAgo {
  background: rgba(198, 164, 255, 0.25);
  border-radius: 9px;
  width: 5rem;
  height:1rem;
  padding: 2px;
} */




@media (min-width:300px) and (max-width:1400px) {
  .formControl {
    position: relative;
    top: -120px;
  }
}