.btn{
    user-select: none;
    background: #fff;
    border: 1px solid #a0aec0;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btn:disabled {
    color: #cbd5e0;
  }
  
  .Isactive {
    font-weight: bold;
    background: #e2e8f0;
  }
  