*,body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Top_Search_Project_Bg{
  background:  skyblue;
  width: 100%;
  height: 10rem;
}

.pl-2{
  padding-left: 2rem;
}
.modal-content{
  background-color: #E7FFFB!important;
}
